<div class="footer">
    <div class="bTop">
        <div class="sm1">
            
            <div class="smImg"><img src="../../assets/icons/facebookW.png" alt=""></div>
            <div class="smText"><p>Facebook</p></div>
        </div><hr>
        <div class="sm2">
            
            <div class="smImg"><img src="../../assets/icons/twitterW.png" alt=""></div>
            <div class="smText"><p>Twitter</p></div>
        </div><hr>
        <div class="sm3">
           
            <div class="smImg"><img src="../../assets/icons/instagramW.png" alt=""></div>
            <div class="smText"> <p>Instagram</p></div>
        </div><hr>
        <div class="sm4">
            
            <div class="smImg"><img src="../../assets/icons/youtubeW.png" alt=""></div>
            <div class="smText"><p>Youtube</p></div>
        </div><hr>
        <div class="sm5">
            
            <div class="smImg"><img src="../../assets/icons/pinterestW.png" alt=""></div>
            <div class="smText"> <p>Pinterest</p></div>
        </div>
    </div>
    <div class="bBottom"><hr>
        <p><strong>Restore Holidays</strong>© 2022. All Rights Reserved.</p>
    </div>
</div>