.footer{
    height: 10rem;
    display: flex;
    background-color: #2B2825;
    flex-direction: column;

    .bTop{
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        height:6rem;
        font-size: 18px;
        color: white;
        padding: 0.3px;
        .sm1,.sm2,.sm3,.sm4,.sm5{
            display: flex;
            gap: 0.4rem;
        }
    }
    .bTop .smText:hover{
        color: orangered;
        cursor: pointer;
    }
    .bBottom{
        color: white;
        font-size: 18px;
        text-align: center;
        hr{
          margin: auto;
            width: 75%;
        }
    }
    
}