<div class="shop">
  <div class="shopTop"> 
    <div class="Mes">
      <h1>SHOP</h1>
      <h3>HOME/SHOP</h3>
    </div>
  </div>
  <hr>
  <div class="shopMain">
    <div class="shopLeft">
      <div class="productsCard">
        <div class="Pimg"><img src="../assets/images/miniBag.jpg" alt=""></div><hr>
        <div class="rating"></div>
        <div class="heading"><h2>Travel Purpose Bag</h2></div>
        <div class="pPrice"><p>$8.35 - $9.00</p></div>
      </div>
      <div class="productsCard">
        <div class="Pimg"><img src="../assets/images/shoe.png" alt=""></div><hr>
        <div class="rating"></div>
        <div class="heading"><h2></h2></div>
        <div class="pPrice"><p></p></div>
      </div>
      <div class="productsCard">
        <div class="Pimg"><img src="../assets/images/mug.png" alt=""></div><hr>
        <div class="rating"></div>
        <div class="heading"><h2></h2></div>
        <div class="pPrice"><p></p></div>
      </div>

      <div class="productsCard">
        <div class="Pimg"><img src="../assets/images/shirt.jpg" alt=""></div><hr>
        <div class="rating"></div>
        <div class="heading"><h2></h2></div>
        <div class="pPrice"><p></p></div>
      </div>
      <div class="productsCard">
        <div class="Pimg"><img src="../assets/images/pants.jpg" alt=""></div><hr>
        <div class="rating"></div>
        <div class="heading"><h2></h2></div>
        <div class="pPrice"><p></p></div>
      </div>
      <div class="productsCard">
        <div class="Pimg"><img src="../assets/images/glasses.jpg" alt=""></div><hr>
        <div class="rating"></div>
        <div class="heading"><h2></h2></div>
        <div class="pPrice"><p></p></div>
      </div>
    </div>
  
    <div class="shopRight">
      <div class="cart">
        <h3>Cart</h3>
        <hr>
        <p>no products in cart</p>
      </div>
      <div class="search">
        <h3>search</h3>
        <hr>
        <div class="inputs">
          <div class="inputDiv">
          <input type="text" class="searchInput" placeholder="search for products..."></div>
          <div class="btnDiv"><button class="searchBtn"><i class="fa-light fa-magnifying-glass"></i></button></div>
        </div>
      </div>
      <div class="categories">
        <h3>categories</h3>
        <hr>
        <p>> Bags</p>
        <p>> Calendar</p>
        <p>> Mugs</p>
        <p>> Notebook</p>
        <p>> Other</p>
        <p>> T-Shirt</p>
      </div>
      <div class="filter">
        <h3>Filter</h3>
        <hr>
        <div class="bar"></div>
        <div class="filterOpt">
          <button class="filterBtn"></button>
          <p>price:</p>
        </div>
      </div>
    </div>
  </div>
</div>